<h1><%= @pet.pet_name%>'s Info Page: </h1>

<p> Name: <%=@pet.pet_name%></p>
<p> Birthday: <%=@pet.pet_birthday%></p>
<p> Weight: <%=@pet.pet_weight%></p>
<p> Category: <%=@pet.category%></p>
<p> Description: <%=@pet.pet_description%></p>
<br>

<%if @pet.user == current_user %>
  <form action="/pets/<%=@pet.id%>/edit" method="GET">
    <input type="submit" value="Edit Pet">
  </form>
  <br>
  <form action="/pets/<%=@pet.id%>" method="POST">    
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Pet">
  </form>
<br>

<%end%>

  

